/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.bar .title{
background-image:url("img/buac-minimal.png");
}

.smallerButtons{
	min-height:auto;
	line-height:25px;
}

.beerDetail h3{
	margin-bottom:0px;
}
.beerDetail p{
	margin-bottom:0px;
}

.untappdDiv{
	margin-top:10px;
}

.welcomeScreen{
	margin-top:10px;
}
