<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->

<ion-view title="Beer index">
  <ion-content has-header="true" has-tabs="true" >

    <ion-list>

      <ion-item ng-repeat="beer in beers" type="item-text-wrap" href="#/tab/beer/{{beer.Beer.id}}">
        <h3>{{beer.Beer.name}}</h3>
      </ion-item>
      
    </ion-list>

  </ion-content>
</ion-view>
