<!--
  This template loads for the 'tab.about' state (app.js)
-->
<div class="bar bar-header bar-energized">
 <a class="button button-small icon ion-arrow-left-b" href="#/tab/about"></a>
  <h1 class="title"><img src="img/buac-minimal.png" /></h1>
</div>


  <ion-content has-header="true" has-tabs="true" padding="true">
	<div align="center">
        <h3>About TRUB</h3>
    
		<p align="left">Three Rivers Underground Brewers (T.R.U.B.), is a Pittsburgh area homebrewing club dedicated to promoting and enjoying
			 the joy of homebrewing. We are a small club, but are extremely active in the homebrewing community. You can find us 
			 around town serving beer at a number of events annually, especially our club sponsored event 'Brewing up a Cure'. 
			 If it has to do with beer, you can bet that we'll be there. We're always looking for new members who share our 
			 passion, so feel free to stop out to a meeting and share some homebrews with us!</p>

			 <div align="center">
			 <a href="http://trubrewers.com" target="_blank" class="button button-energized">Learn more about TRUB</a>
   			</div>
    </div>    
	
  </ion-content>
</ion-view>
