<!--
  This template loads for the 'tab.about' state (app.js)
-->
<div class="bar bar-header bar-energized">
  <h1 class="title"><img src="img/buac-minimal.png" /></h1>
</div>


  <ion-content has-header="true" has-tabs="true" padding="true">

<div class="list card">

  <a href="#/tab/schedule" class="item item-icon-left">
    <i class="icon ion-clipboard"></i>
    Schedule of Events
  </a>

  <a href="#/tab/sponsors" class="item item-icon-left">
    <i class="icon ion-heart"></i>
    Our Sponsors
  </a>

  <a href="#/tab/trub" class="item item-icon-left">
    <i class="icon ion-beer"></i>
    About T.R.U.B.
  </a>

  <a href="#/tab/cysticfibrosis" class="item item-icon-left">
    <i class="icon ion-medkit"></i>
    About Cystic Fibrosis
  </a>

</div>
  </ion-content>
</ion-view>
