<!--
  This template loads for the 'tab.about' state (app.js)
-->
<div class="bar bar-header bar-energized">
 <a class="button button-small icon ion-arrow-left-b" href="#/tab/about"></a>
  <h1 class="title"><img src="img/buac-minimal.png" /></h1>
</div>


  <ion-content has-header="true" has-tabs="true" padding="true">
 
	<div align="center">
        <h3>Our Sponsors</h3>		
		<p><strong>Tasting Glass Sponsor</strong></p>
		<p>TBD</p>
		<p><strong>Print Sponsor</strong></p>
		<p>TBD</p>	
		<p><strong>T-shirt Sponsor</strong></p>
		<p>TBD</p>				
	</div>  
	
  </ion-content>
</ion-view>
