.ui-header-fixed {
 /* padding-top:20px; */
  padding-bottom:7px;
}

/*Fixes flashes between pages */
.ui-page {
           -webkit-backface-visibility: hidden; /* Chrome and Safari */
           -moz-backface-visibility: hidden; /* Firefox */ 
           }

.detailBanner {
background-color:#F2C43D;
padding: 3px 0 3px 0;
}

.detailBanner h3{
	padding:0px;
	margin:5px;
}

.detailBanner h4{
	padding:0px;
	margin:10px;
}

.in, .out {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 350ms !important;
}

.ui-content{
	padding:5px;
}

.infoButton{
	padding-right:7px;
	padding-left:7px;
}
